/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Font styles from https://www.cssfontstack.com/Palatino
 */

html {
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua,
    Georgia, serif;
  background-color: #fefefe;

  font-size: clamp(1.1rem, 2.5vw, 1.3rem);
}

body {
  padding: clamp(1rem, calc(15vw - 4rem), 10rem) 0.75rem;
  max-width: 65ch;
  margin: auto;

  color: #191919;
}

h1 {
  margin: 1rem 0 0.25rem;

  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.625rem;
}

h3 {
  margin: 1rem 0 0.25rem;

  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.625rem;
}

p {
  margin: 1rem 0 0.25rem;

  font-size: 1rem;
  line-height: 1.625rem;
}

ol {
  margin: 1rem 0 0.25rem;

  font-size: 1rem;
  line-height: 1.625rem;
}

blockquote {
  font-size: 1.25rem;
  line-height: 1.625rem;
}

pre {
  font-size: 0.8125rem;
  line-height: 1.625rem;
}
